.input-registro {
  height: 50px;
  color: #333;
  border: 0px solid;
  border-bottom: 1px solid lightgrey;
  display: table;
  margin-bottom: 10px;
  width: 100%;
}

.btn-register{
  display: block;
  width: 42.9%;
  margin-top: 30px;
}

.btn-register-out{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secondary{
  display: block;
  text-align: center;
  margin-top: 10px;
}
.container-registro{
  background-color: white;
  border-radius: 8px;
  padding: 50px 50px 30px 50px;
}

.registro .container{
  display: flex;
  justify-content: center;
}

.registro{
	width: 100%;
  position: absolute;
  padding: 40px 0;
  z-index: 100;
  top: 10%;
}

.container-registro h2{
  font-size: 24px;
  color: #2e2e2e;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 20px;
}