/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) 
{
    

} /* Final do estilo para tablets */

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) 
{

    .produtos_lista li h1
    {
        padding: 15px;
    }
    .produtos_lista li h2
    {
        padding: 15px;
    }
    .produtos_lista li h6
    {
        padding: 15px;
    }
    .produtos_lista li p
    {
        padding: 15px;
    }
    .produtos_lista li select
    {
        padding: 15px;
    }
} /* Final do estilo para smartphone */