/*Estilo para tablets*/
@media only screen and (min-width: 768px) and (max-width: 959px) 
{


}

 /* Final do estilo para tablets */

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {
    
    .btn2
    {
      padding: 10px;
      width: 95%;
    }
    .btn
    {
      width: 95%;
    }
    .pesquisa_lista li
    {
      padding: 5px;
    }
    .tickets_icone img
    {
      margin-left: 0;
    }
    .tickets_lista li
    {
        padding: 5px;
    } 


} /* Final do estilo para smartphone */