body
{
  margin: 0;
}
button
{
  text-align: center;
}
.header-profile {
	top: 0 !important;
	width: 100% !important;
  background: #f55625 !important;
	padding: 15px 0 !important;
  z-index: 10 !important;
}

.header-profile-menu {
  text-align: right !important;
}

.header-profile-menu ul li {
	display: inline-block !important;
	margin-left: 25px !important;
  margin-top: 20px !important; 
}


.header-profile-menu ul li a {
  color: #f5f5f0 !important;
	font-weight: bold !important;
	letter-spacing: .05em !important;
	font-size: 14px !important;
	line-height: 20px !important;
	padding: 10px 0 !important;
  transition: all .3s ease !important; 

}

.header-profile-menu ul li a:hover {
	color: black !important;
}

.header-profile-menu ul li a.menu_ativo {
	color: black !important;
}
.tickets-container
{
  padding-top: 0px;
  background-color: #fff;
  border-radius: 8px; 
  margin-bottom: 10px;
}

.form-profile{
  margin-bottom: -180px;
}

.tickets{
  margin-top: 140px;
}
.form-out{
  margin-top: 0px;
  padding-top: 0px;
}


.tickets_lista li
{
	background: #fff;
  text-align: left;
}

.tickets_lista li img
{
  padding-left: 0px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.tickets_lista li h1
{
	font-weight: bold;
	font-size: 24px;
  line-height: 25px;
  padding-top: 0px;
  margin-top: 10px;
  color: black;
}

.tickets_lista li h2
{
	font-size: 24px;
	line-height: 25px;
	margin-top: 20px;
}

.tickets_lista li h6
{
  font-size: 15px;
  color: #848484;
}

.tickets_lista li p
{
  padding-top: 10px;
  line-height: 1.5em;
  text-align: justify;
}

.btn
{
  width: 50% !important;
  padding-right: 0px;
  margin-right: auto;
}

.btn3{
  width: 50% !important;
}

.call1
{
	padding-top: 15px;
	text-align: center;
	clear: both;
}

.pesquisa-container
{
  padding-top: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.pesquisa
{
  padding-top: 200px;
  z-index: 100;
}

.pesquisa_lista li
{
	background: #fff;
  text-align: left;
}
.pesquisa_lista li p
{
  padding-top: 10px;
  line-height: 1.5em;
  text-align: justify;
}

.pesquisa_icone input
{
  border: 0.5px solid #EBEBEB;
  border-radius: 8px;
  width: 95%;
  height: 50px;
  padding-left: 10px;
}
.select-form
{
  width: 95%;
  height: 50px;
  border-radius: 8px;
  border: 0.5px solid #EBEBEB;
  padding-left: 10px;
}

.btn-filter-out
{
  width: 100% !important;
  text-align: center !important;
  margin-bottom: 20px;
}

.btn-filter-in
{
  width: 40% !important;
}
