body
{
  margin: 0;
}
button
{
  text-align: center;
}
.header-profile
{
 position: absolute;
 top: 0;
 left: 0;
 background:#f55625;
 width: 100%;
}
.header-profile img
{
  width: 300px;
	height: 100px;
}
.tickets-container
{
  margin-top: -160px;
  background-color: #fff;
  border-radius: 8px; 
  margin-bottom: 10px;
}

.tickets_lista li
{
	background: #fff;
  text-align: left;
}

.tickets_lista li img
{
  padding-left: 0px;
  padding-top: 10px;
}

.tickets_lista li h1
{
	font-weight: bold;
	font-size: 24px;
  line-height: 25px;
  padding-top: 0px;
  margin-top: 10px;
  color: black;
}

.tickets_lista li h2
{
	font-size: 24px;
	line-height: 25px;
	margin-top: 20px;
}

.tickets_lista li h6
{
  font-size: 15px;
  color: #848484;
}

.tickets_lista li p
{
  padding-top: 10px;
  line-height: 1.5em;
  text-align: justify;
}

.btn
{
  width: 50%;
  padding-right: 0px;
  margin-right: auto;
}

.tickets_icone img
{
  width: 75%;
	height: 50%;
}
.call1
{
	padding-top: 15px;
	text-align: center;
	clear: both;
}

.btn3
{
    padding-top: 40px;
}
