 body
 {
	margin: 0px;
 }
.header
 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background:#fff159;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.tokens
{
	position: absolute;
	top: 75%;
	width: 100%;
	padding: 10px 0;
}

.tokens ul
{
	margin-top: -20px;	
}

.iconslist li
{
	background: white;
	text-align: center;
	border-radius: 8px;
	margin-top: 20px;
}

.iconslist li img 
{
	margin: 0 auto;
}

.iconslist li h3
{
	font: 400 14px Roboto, sans-serif;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-top: 20px;
	padding: 10px 20px 20px 20px;
}
.icon
{
	padding: 20px;
}
.icon
img
{
	width: 80px;
	height: 80px;
}
.box-container
  {
	background-color:#fff;
	border-radius: 10px;
  }
  .box
  {
	padding: 125px 0;
	z-index: 100;
	top: 10%;
  }
  
  .box_lista li
  {
	background: #fff;
	text-align: left;
  }
  
  .box_lista li img
  {
	padding: 20px 0px 20px 10px;
  }
  
  .box_lista li h1
  {
	font-weight: bold;
	font-size: 35px;
    line-height: 25px;
	margin-top: 20px;
  }
    
  .box_lista li p
  {
	padding: 40px 20px 20px 0px;
	line-height: 1.0em;
	text-align: justify;
	font-size: 20px;
  }
  
  .btn-selected-item-out
  {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .btn-selected-item
  {
	width: 50%;
	margin-top: 30px;
  }
  
  .box_icone img
  {
	width: 100%;
	height: 100%;
  }
  
  h6
  {
	display: flex;
	float: left;
  }
  
  
  .call
  {
	  padding-top: 20px;
	  text-align: center;
	  clear: both;
  }

  .call p
  {
	  margin-bottom: 20px;
  }