@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    background-color: #EBEBEB;
    -webkit-font-smoothing: antialiased;
    font: 400 14px Roboto, sans-serif;
}

textarea:focus, input:focus, select:focus, button {
	outline: 0;
} 

.btn-primary{
    background-color: #3483fa;
    border-radius: 8px;
    color: #f5f5f0;
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    border-style: none;
}

.btn-primary:hover{
    background-color: #225199;
}

.btn-secondary{
    background-color: #fff;
    border-radius: 8px;
    color: #3483fa;
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    border-style: none;
}

.btn-secondary:hover{
    background-color: #e6f0ff;
    border-radius: 8px;
}